* {
  font-family: "Crete Round", "Red Hat Display";
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
body {
  padding: 0em 0.2em;
}
main {
  background-color: #eeeeee;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.header {
  min-height: 7em;
  text-align: center;
}
.header h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
}
.header p {
  color: #666666;
  margin: 0;
}
.imageContainer {
  min-height: 50vh;
  background-color: #ffffff;
  padding: 2.2em 0;
  margin: 0 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageContainer figcaption {
  color: #7b7b7b;
}
#image {
  width: 50%;
  height: auto;
  display: block;
}
@media (min-width: 100px) and (max-width: 1398px) {
  #image {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1398px) and (max-width: 1736px) {
  #image {
    width: 80%;
    height: auto;
  }
}
@media (min-width: 1398px) and (max-width: 1600px) {
  #image {
    width: 50%;
    height: auto;
  }
}
#img-caption {
  padding: 15px;
}
.lineTime {
  text-align: center;
  margin-bottom: 25px;
}

ul {
  width: 52%;
  min-width: 300px;
  text-align: left;
  margin: 0 auto;
}
ul > li {
  font-size: 15px;
  font-family: "Red Hat Display";
  font-weight: 350;
}

.contributionsContainer {
  text-align: center;
  padding: 0 370px;
}
.contributionTitle {
  margin-bottom: 0;
}
.contributions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}
@media (min-width: 100px) and (max-width: 1398px) {
  .contributions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
  }
  .contributionsContainer {
    padding: 0 20px;
  }
}
.selfPortrait {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  object-fit: cover;
}
.textOfContributions {
  text-align: left;
  font-family: "Red Hat Display";
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #0d719f;
}
